
#one{
    padding: 20px;
    margin: 10px;
    background-color: red;
    color: #ffff;
}

#tow{
    padding: 20px;
    margin: 10px;
    background-color: red;
    color: #ffff;
}

#three{
    padding: 20px;
    margin: 10px;
    background-color: red;
    color: #ffff;
}